@import 'variables';

%title-3 {
  font-family: $font-family-montserrat;
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.2;

  @media(min-width: $bp-medium) {
    font-size: 1.75rem;
  }

  @media(min-width: $bp-4k) {
    font-size: 4.625rem;
  }
}

.btn {

  &.btn-light-flat {
    background-color: transparent;
    color: $white;

    &:hover,
    &:focus {
      color: $yellow;
      transition: $standard-transition;
    }
  }
}

.bg-dark {
  background-color: $black !important;
}
