@import 'fonts';
@import '@europeana/style/scss/variables';

$font-family-montserrat: 'Montserrat', $font-family-sans-serif;
$white: #fff;
$black: #191817;
$yellow: #ffc200;
$grey: #c6c6c6;
$grey--light: #e2e2e2;
