@import 'fonts';
@import '@europeana/style/scss/variables';

$font-family-montserrat: 'Montserrat', $font-family-sans-serif;
$white: #fff;
$black: #191817;
$yellow: #faa21b;
$grey: #c6c6c6;
$grey--light: #e2e2e2;

%title-2 {
  font-family: $font-family-montserrat;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
}

%title-3 {
  font-family: $font-family-montserrat;
  font-weight: 700;
}

%title-5 {
  font-family: $font-family-montserrat;
  color: $black;
}
