@import 'fonts';
@import '@europeana/style/scss/variables';

$font-family-montserrat: 'Montserrat', $font-family-sans-serif;
$white: #fff;
$black: #191817;
$yellow: #faa21b;
$grey: #c6c6c6;
$grey--light: #e2e2e2;

%title-2 {
  font-family: $font-family-montserrat;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.2;
  margin-left: auto;
  margin-right: auto;

  @media(min-width: $bp-medium) {
    font-size: $font-size-xl;
  }

  @media(min-width: $bp-4k) {
    font-size: 4.75rem;
  }
}

%title-3 {
  font-family: $font-family-montserrat;
  font-size: $font-size-base;
  font-weight: 700;
  line-height: 1.2;

  @media(min-width: $bp-medium) {
    font-size: 1.75rem;
  }

  @media(min-width: $bp-4k) {
    font-size: 4rem;
    margin-bottom: 3rem;
  }
}

%title-5 {
  font-family: $font-family-montserrat;
  font-size: $font-size-small;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  color: $black;

  @media(min-width: $bp-4k) {
    font-size: $font-size-xl;
  }
}
