.badge {
  text-decoration: none;
  font-size: $font-size-small;
  transition: $standard-transition;
  overflow: hidden;
  position: relative;

  @at-root .xxl-page & {
    @media (min-width: $bp-4k) {
      font-size: $font-size-small-4k;
    }
  }

  img {
    width: 28px;
    height: 28px;
    object-fit: cover;
    flex-shrink: 0;
    position: absolute;
    left: 0.25rem;

    @at-root .xxl-page & {
      @media (min-width: $bp-4k) {
        width: calc(1.5 * 28px);
        height: calc(1.5 * 28px);
        left: calc(1.5 * 0.25rem);
      }
    }
  }

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5rem;
  }

  .organisation-logo {
    width: 28px;
    height: 28px;

    @at-root .xxl-page & {
      @media (min-width: $bp-4k) {
        width: calc(1.5 * 28px);
        height: calc(1.5 * 28px);
      }
    }
  }

  .close {
    @extend %icon-font, .icon-clear;

    color: $mediumgrey;
    margin-left: 0.5rem !important;
    font-size: 0 !important;
    opacity: 1;
    text-shadow: none;

    @at-root .xxl-page & {
      @media (min-width: $bp-4k) {
        margin-left: 0.75rem !important;
      }
    }

    &::before {
      font-size: $font-size-smallest;

      @at-root .xxl-page & {
        @media (min-width: $bp-4k) {
          font-size: $font-size-smallest-4k;
        }
      }
    }
  }

  .icon-clear {
    color: $mediumgrey;
    font-size: $font-size-smallest;
    margin-left: 0.5rem;
    line-height: 1;

    @at-root .xxl-page & {
      @media (min-width: $bp-4k) {
        font-size: $font-size-smallest-4k;
        margin-left: calc(1.5 * 0.25rem);
      }
    }
  }
}

.badge-pill {
  border-radius: 1.125rem;
  padding: 0.25rem 0.75rem;
  height: 2.25rem;
  min-width: 4rem;
  max-width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  transition: $standard-transition;
  line-height: 1.5;

  @at-root .xxl-page & {
    @media (min-width: $bp-4k) {
      border-radius: calc(1.5 * 1.125rem);
      padding: calc(1.5 * 0.25rem) calc(1.5 * 0.75rem);
      height: calc(1.5 * 2.25rem);
    }
  }

  &[href] {
    &:hover {
      background-color: $darkblue;
    }
  }

  &.img-chip {
    padding: 0.25rem 0.75rem 0.25rem calc(0.75rem + 28px);

    @at-root .xxl-page & {
      @media (min-width: $bp-4k) {
        padding: 0.375rem 1.125rem 0.375rem calc(1.125rem + calc(1.5 * 28px));
      }
    }
  }

  .organisation-logo {
    position: absolute;
    left: 0.25rem;

    @at-root .xxl-page & {
      @media (min-width: $bp-4k) {
        left: calc(1.5 * 0.25rem);
      }
    }
  }

  .pill-close {
    background-color: transparent;
    border: 0;
    color: $white;
    text-decoration: none;
  }
}

.badge-primary {
  background: $blue;
  font-weight: normal;
  padding: 0.5rem;

  @at-root .xxl-page & {
    @media (min-width: $bp-4k) {
      padding: 0.75rem;
    }
  }

  &[href] {
    &:hover {
      background-color: $innovationblue-dark;
    }
  }

  .close {
    color: $white;
  }
}

.badge-primary-light {
  background-color: $lightblue;
  color: $mediumgrey;
  font-size: $font-size-small;
  border-radius: 2.25rem;
  align-items: center !important;
  margin-right: 0;

  @at-root .xxl-page & {
    @media (min-width: $bp-4k) {
      font-size: $font-size-small-4k;
      border-radius: calc(1.5 * 2.25rem);
    }
  }

  &.remove-button {
    padding-right: 0.65rem;

    @at-root .xxl-page & {
      @media (min-width: $bp-4k) {
        padding-right: calc(1.5 * 0.65rem);
      }
    }
  }

  &[href],
  &.remove-button {
    &:hover {
      background-color: $lightblue-dark;
    }
  }
}

.badge-secondary {
  background-color: $bodygrey;
  color: $greyblack;

  &[href] {

    &:hover,
    &:focus {
      color: $greyblack;
      background: $middlegrey !important;
      box-shadow: 0 4px 8px rgb(0 0 0 / 15%);
    }
  }
}

.badge-light {
  background-color: $white;
  color: $greyblack;
  padding: 0.25rem 0.75rem;
  height: 2.25rem;
  min-width: 4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: $standard-transition;

  @at-root .xxl-page & {
    @media (min-width: $bp-4k) {
      padding: calc(1.5 * 0.25rem) calc(1.5 * 0.75rem);
      height: calc(1.5 * 2.25rem);
      min-width: calc(1.5 * 4rem);
    }
  }

  &[href] {

    &:hover,
    &:focus {
      background-color: $bodygrey !important;
      box-shadow: 0 4px 8px rgb(0 0 0 / 15%);
    }
  }
}

.badge-outline-primary {
  background-color: $white;
  color: $black;
  border: 1px solid $black;

  &[href] {

    &:hover,
    &:focus {
      color: $white;
      background: $black;
    }
  }
}

.badge-outline-light {
  background-color: $white;
  border: 1px solid $lightbluemagenta;
  color: $mediumgrey;
  display: inline-flex;
  align-items: center;
  font-weight: normal;
  font-size: $font-size-small;
  padding: 0 0.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 13rem;
  line-height: 1.5;
  height: calc(2rem - 1px);

  @at-root .xxl-page & {
    @media (min-width: $bp-4k) {
      font-size: $font-size-small-4k;
      padding: 0 calc(1.5 * 0.75rem);
      max-width: calc(1.5 * 13rem);
      height: calc(1.5 * calc(2rem - 1px));
    }
  }

  &:hover,
  &:focus {
    color: $mediumgrey;
    background: $bodygrey !important;
  }

  &.active {
    border: 0;
    background-color: $lightblue;
    box-shadow: 0;

    &:hover,
    &:focus {
      background-color: $lightblue-dark !important;
    }
  }
}

.badge .close:hover {

  &,
  &:not(:disabled):not(.disabled) {
    opacity: 1;
  }
}
