.breadcrumb {
  background-color: $white;
  margin-top: -0.95rem;
  border-top: 1px solid $whitegrey;
  border-bottom: 1px solid $whitegrey;

  .breadcrumb-item {
    font-size: $font-size-small;
  }

  .breadcrumb-item.active,
  a {
    color: $mediumgrey;

    &:hover {
      color: $mediumgrey;
    }
  }
}
