.dropdown {
  .btn-light {
    background: $white;
    color: $mediumgrey;
    font-size: 1rem;
    padding: 0.75rem 1rem;
    text-decoration: none;
  }

  .dropdown-item {
    text-decoration: none;
  }

  .dropdown-header {
    font-size: $font-size-extrasmall;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 1rem;
    color: $mediumgrey;

    @at-root .xxl-page & {
      @media (min-width: $bp-4k) {
        font-size: $font-size-extrasmall-4k;
      }
    }
  }

  &.multilingual-selector .dropdown-menu {
    max-height: 50vh;
    overflow: auto;
  }
}

.dropdown-toggle {
  &::after {
    @extend %icon-font;

    border: 0;
    content: '\e91b'; // icon-chevron
    font-size: 0.425rem;
    margin-right: 0.25rem;
  }
}

.b-form-tags.form-control {
  padding: 0;
  margin-bottom: 1.25rem;
  background-color: $white;
  border-radius: 0;

  > ul {
    padding-left: 0;
    margin-bottom: 0.25rem;

    .list-inline-item {
      margin-bottom: 0.5rem;
    }
  }
}
