.page-footer {
  position: relative;

  // This creates a blue shadow with cutout.
  // Drop-shadow does not work on clip-path element and drop-shadow filter is broken in Safari
  &::after {
    content: '';
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $innovationblue;
    clip-path: polygon(0 0, calc(100% - 77px) 0, 100% 170px, 100% 100%, 0 100%);
    z-index: 2;

    @media (min-width: $bp-xxxl) {
      top: 0.75vw;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $innovationblue;
      clip-path: polygon(0 0, calc(100% - calc(77 / 16 * 1vw)) 0, 100% calc(170 / 16 * 1vw), 100% 100%, 0 100%);
    }
  }

  .footer-wrapper {
    background: $black;
    color: $white;
    position: relative;
    clip-path: polygon(0 -100vh, calc(100% - 95px) -100vh, calc(100% - 95px) 0, 100% 209px, 100% 100%, 0 100%);
    z-index: 3;
    padding-left: 1rem;
    padding-right: 1rem;

    @media (min-width: $bp-small) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    @media (min-width: $bp-large) {
      padding-right: 3rem;
    }

    @media (min-width: $bp-xxxl) {
      clip-path: polygon(0 -100vh, calc(100% - calc(95 / 16 * 1vw)) -100vh, calc(100% - calc(95 / 16 * 1vw)) 0, 100% calc(209 / 16 * 1vw), 100% 100%, 0 100%);
    }
  }

  .left-col {
    @media (min-width: $bp-wqhd) {
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
    }
  }

  .middle-col {
    @media (min-width: $bp-wqhd) {
      flex: 0 0 25%;
      max-width: 25%;

      &.order-wqhd-3 {
        order: 3;
      }
    }
  }

  .right-col {
    @media (min-width: $bp-wqhd) {
      flex: 0 0 16.6667%;
      max-width: 16.6667%;
    }
  }

  .group-title {
    font-size: $font-size-small;
    margin-bottom: 0.5rem;
    line-height: 1.5;

    @media (min-width: $bp-wqhd) {
      font-size: 1.125rem;
    }
  }

  p.mission {
    font-size: $font-size-medium;

    @media (min-width: $bp-wqhd) {
      font-size: $font-size-large;
    }
  }

  hr {
    border-top-color: $white;
    margin-top: 0;
    margin-bottom: 2rem;

    @media (min-width: $bp-small) {
      margin-top: 0.75rem;
      margin-bottom: 2.25rem;
    }

    @media (min-width: $bp-large) {
      margin-top: 1.5rem;
      margin-bottom: 3rem;
    }

    @media (min-width: $bp-wqhd) {
      border-top-width: 2px;
    }
  }

  .sub-footer {
    p {
      font-size: $font-size-smallest;

      @media (min-width: $bp-wqhd) {
        font-size: $font-size-base;
      }
    }

    img {
      &.ds4ch-logo {
        height: 35px;

        @media (min-width: $bp-small) {
          height: 64px;
        }

        @media (min-width: $bp-4k) {
          height: 96px;
        }
      }

      &.eu-logo {
        min-width: 0;
        height: 35px;

        @media (min-width: $bp-small) {
          height: 64px;
        }
      }
    }
  }

  .link-group-list {
    li {
      @media (min-width: $bp-xxxl) {
        font-size: $font-size-base;
      }

      a {
        @media (min-width: $bp-wqhd) {
          font-size: 1.375rem;
        }
      }
    }
  }

  .link-group-social .link-group-list {
    display: flex;

    li {
      &:not(:last-child) {
        margin-right: 0.75rem;

        @media (min-width: $bp-wqhd) {
          margin-right: 0.75em;
        }
      }

      a {
        align-items: center;
        background: $white;
        border-radius: 50%;
        display: flex;
        height: 2.5rem;
        justify-content: center;
        transition: background 0.25s;
        width: 2.5rem;
        color: $black;
        margin-top: 0.25rem;

        &:hover {
          background: rgb(255 255 255 / 75%);
          text-decoration: none;
        }

        .footer-link-icon {
          font-size: 1.5rem;

          &.icon-facebook,
          &.icon-pinterest {
            color: $white;
            font-size: 2.5rem;
            background-color: $black;

            &:hover {
              color: rgb(255 255 255 / 75%);
            }
          }
        }
      }
    }
  }

  .link-group-supporting-tech-partners {

    &.col-lg-3 {
      @media (min-width: $bp-wqhd) {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }

    .group-title {
      margin-bottom: 1rem;
    }

    .link-group-list {

      @media (min-width: $bp-wqhd) {
        display: flex;
        align-items: center;
      }

      .link {
        margin-bottom: 1rem;

        @media (min-width: $bp-wqhd) {
          margin-bottom: 0;
          margin-right: 1rem;
          flex: 0 0 120px;

          img {
            width: 120px;
          }
        }

        &:nth-child(3) {
          flex-grow: 1;

          img {
            width: 110px;
            margin-top: -2px;
            margin-left: -4px;

            @media (min-width: $bp-wqhd) {
              width: 135px;
              margin: 0;
            }
          }
        }
      }
    }
  }
}

.footer-margin {
  // TODO: replace with margin-bottom once white background becomes the default
  padding-bottom: 3.375rem;
}
