@import 'mixins';

.iiif-viewer-wrapper {
  @include swiper-height;

  @media (min-width: $bp-xxxl) and (min-height: $bp-extralarge) {
    max-height: 50vh;
    height: 50vh;
  }
}

.iiif-viewer {
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 1px solid $lightbluemagenta;
  position: relative;
}

::v-deep .mirador-viewer {
  min-height: 0;
  // Allow tooltips to show
  overflow: visible;

  .mosaic-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .mosaic-tile {
    margin: 0;
  }

  .mirador-window-top-bar {
    > h2 {
      display: none;

      + button {
        margin-left: auto;
      }
    }
  }

  .mirador-companion-window-header {
    border-bottom: 1px solid $lightbluemagenta;
    align-items: center;
  }

  .mirador-companion-area-bottom {
    .mirador-companion-window-title-controls {

      > form,
      > p {
        width: auto;
      }
    }
  }

  .mirador-thumbnail-nav-canvas {
    border-radius: 1px;
    box-shadow: inset $boxshadow-large;
    overflow: hidden;

    &:hover {
      outline: 1px solid $blue !important;
      outline-offset: 0 !important;
    }

    &.mirador68 {
      outline: 2px solid $blue !important;
      outline-offset: 0 !important;
    }
  }

  // do not wrap page count
  .mirador-osd-info {
    width: auto;
  }

  .mirador-canvas-nav {
    background-color: rgba(255 255 255 / 95%);
    align-items: center;
  }

  .mirador-primary-window {
    [id^='window-'][id$='-gallery'] {
      background-color: $black;

      [role='button']:hover {
        background-color: $black;
        outline: 1px solid $blue !important;
      }

      .MuiTypography-caption {
        color: $white;
      }
    }
  }
}

.iiif-viewer.error {
  min-height: 9rem;

  .mirador-window-top-bar,
  .MuiAlert-filledError {
    display: none;
  }

  .mirador-osd-container {
    height: auto;
  }

  .mirador-window {
    overflow: auto;
  }

  .MuiAccordion-root {
    max-width: $max-text-column-width;
    margin: 0 auto;
    background-color: $black;
    color: $white;
    width: 100%;
    padding: 0 2rem 0 4.5rem;

    .MuiButtonBase-root {
      color: $white;
      display: inline-flex;
      justify-content: flex-start;
      padding: 0;
    }

    pre {
      color: $white;
    }
  }
}
