.masonry-container {
  width: 100%;

  @media (max-width: ($bp-medium - 1)) {
    &[style] {
      height: auto !important;
    }
  }

  @media (min-width: $bp-medium) {
    margin-left: -0.5 * $masonry-gutter;
    margin-right: -0.5 * $masonry-gutter;
    width: calc(100% + $masonry-gutter);
  }

  .masonry-tile {
    display: inline-block;
    vertical-align: top;
    width: 100%;

    @media (max-width: ($bp-medium - 1)) {
      &[style] {
        position: relative !important;
        left: auto !important;
        top: auto !important;
        transform: none !important;
      }
    }

    @media (min-width: $bp-medium) {
      margin-left: 0.5 * $masonry-gutter;
      margin-right: 0.5 * $masonry-gutter;
      width: calc(100% / 2 - $masonry-gutter);
    }

    @media (min-width: $bp-large) {
      width: calc(100% / 3 - $masonry-gutter);
    }

    @media (min-width: $bp-extralarge) {
      width: calc(100% / 4 - $masonry-gutter);
    }

    @at-root .xxl-page & {
      @media (min-width: $bp-xxxl) {
        min-width: $min-card-width-xxxl;
        width: calc(100% / 5 - $masonry-gutter);
        max-width: $max-card-width;
      }

      @media (min-width: $bp-wqhd) {
        width: calc(100% / 6 - $masonry-gutter);
      }

      @media (min-width: ($bp-4k)) {
        width: calc(100% / 7 - $masonry-gutter);
      }
    }
  }

  // Setting the margin-bottom for the related content element reserves space for it in the masonry layout
  // and prevents jumpiness
  .masonry-tile.related-results {
    margin-bottom: 1px;

    @media (max-width: ($bp-medium - 1px)) {
      padding-left: 1rem;
    }
  }

  .content-card:not(.list-card):not(.related-gallery-card) {
    .card-wrapper {
      &::before {
        content: '';
        height: 100%;
        position: absolute;
        transition: box-shadow 0.25s;
        width: 100%;
        z-index: -1;
      }

      &:hover {
        &::before {
          box-shadow: $boxshadow-large;
        }
      }

      .card-img {
        min-height: 12rem;
        max-height: none;
      }

      .card-title {
        display: block;
        -webkit-line-clamp: initial;
        -webkit-box-orient: initial;
        max-height: none;
      }

      .card-text:last-of-type p {
        display: block;
        -webkit-line-clamp: initial;
        -webkit-box-orient: initial;
      }
    }
  }

  @at-root .side-filters-enabled & {
    .masonry-tile {
      @media (min-width: $bp-medium) {
        width: calc(100% / 2 - $masonry-gutter);
      }

      @media (min-width: $bp-extralarge) {
        width: calc(100% / 3 - $masonry-gutter);
      }

      @media (min-width: ($bp-xxl + 60px)) {
        width: calc(100% / 4 - $masonry-gutter);
      }

      @media (min-width: $bp-xxxl) {
        min-width: $min-card-width-xxxl;
        width: calc(100% / 5 - $masonry-gutter);
        max-width: $max-card-width;
      }

      @media (min-width: $bp-wqhd) {
        width: calc(100% / 6 - $masonry-gutter);
      }

      @media (min-width: ($bp-4k)) {
        width: calc(100% / 7 - $masonry-gutter);
      }
    }

    .header-card {
      @media (max-width: $bp-medium) {
        &[style] {
          position: relative !important;
          left: auto !important;
          top: auto !important;
        }
      }

      @media (min-width: $bp-medium) {
        width: calc(100% - $masonry-gutter);
        margin-left: 0.5 * $masonry-gutter;
        margin-right: 0.5 * $masonry-gutter;
      }

      @media (min-width: $bp-extralarge) {
        width: calc(100% / 1.5 - $masonry-gutter);
      }

      @media (min-width: ($bp-xxl + 60px)) {
        width: calc(100% / 2 - $masonry-gutter);
      }

      @media (min-width: $bp-xxxl) {
        width: calc(100% / 2.5 - $masonry-gutter);
        max-width: none;
      }

      @media (min-width: $bp-wqhd) {
        width: calc(100% / 3 - $masonry-gutter);
      }

      @media (min-width: ($bp-4k)) {
        width: calc(100% / 3.5 - $masonry-gutter);
      }
    }
  }
}
