.pagination-nav-input {
  .page-item {
    font-weight: 600;
    padding: 0.5rem 0.75rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  .btn-next,
  .btn-prev {
    .page-link {
      font-size: $font-size-small;
      line-height: 1.125;
      background: none;
      border: 0;
      padding: 0;
      color: $greyblack;
      text-decoration: none;
      display: flex;
      align-items: center;

      &:hover {
        color: $greyblack;
      }

      @at-root .xxl-page & {
        @media (min-width: $bp-4k) {
          font-size: $font-size-small-4k;
        }
      }
    }

    &.disabled {
      .page-link {
        color: $darkgrey;
      }
    }
  }

  .btn-prev {
    margin-right: 0.5rem;

    @media (min-width: $bp-medium) {
      margin-right: 1rem;
    }

    .icon-arrow-down::before {
      display: inline-block;
      transform: rotate(90deg);
    }
  }

  .btn-next {
    margin-left: 0.5rem;

    @media (min-width: $bp-medium) {
      margin-left: 1rem;
    }

    .icon-arrow-down::before {
      display: inline-block;
      transform: rotate(270deg);
    }
  }

  .page-input {
    line-height: 1.375;
    padding: 0;
    display: flex;
    align-items: center;

    input {
      padding: 0.75rem;
      width: 3.2rem;
      border-radius: 6px;
      border: 1px solid $middlegrey;
      text-align: center;
      margin-right: 1rem;
      height: auto;
      background: $white;
      line-height: 1.375rem;

      &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
      }

      &[type='number'] {
        appearance: textfield;
      }

      @at-root .xxl-page & {
        @media (min-width: $bp-4k) {
          padding: calc(1.5 * 0.75rem);
          width: calc(1.5 * 3.2rem);
          font-size: 1.5rem;
        }
      }
    }
  }
}
