.responsive-backround-image {
  @media (max-width: $bp-small) {
    background-image: var(--bg-img-small);
  }

  @media (min-width: ($bp-small + 1px)) and (max-width: $bp-medium) {
    background-image: var(--bg-img-medium, var(--bg-img-small));
  }

  @media (min-width: ($bp-medium + 1px)) and (max-width: $bp-large) {
    background-image: var(--bg-img-large, var(--bg-img-small));
  }

  @media (min-width: ($bp-large + 1px)) and (max-width: $bp-extralarge) {
    background-image: var(--bg-img-xl, var(--bg-img-small));
  }

  @media (min-width: ($bp-extralarge + 1px)) and (max-width: $bp-xxl) {
    background-image: var(--bg-img-xxl, var(--bg-img-small));
  }

  @media (min-width: ($bp-xxl + 1px)) and (max-width: $bp-xxxl) {
    background-image: var(--bg-img-xxxl, var(--bg-img-small));
  }

  @media (min-width: ($bp-xxxl + 1px)) and (max-width: $bp-wqhd) {
    background-image: var(--bg-img-wqhd, var(--bg-img-small));
  }

  @media (min-width: ($bp-wqhd + 1px)) and (max-width: $bp-4k) {
    background-image: var(--bg-img-4k, var(--bg-img-small));
  }

  @media (min-width: ($bp-4k + 1px)) {
    background-image: var(--bg-img-4k\+, var(--bg-img-small));
  }
}
