::v-deep .swiper {

  .swiper-button-prev,
  .swiper-button-next {
    margin-top: 0;
  }

  .media-player-wrapper {
    position: relative;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    min-width: 19rem;

    iframe {
      border: 0;
      border-radius: 0;
      box-shadow: none;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }

  .swiper-slide {
    .responsive-embed-wrapper {
      max-width: 90vw;
    }

    .container .responsive-embed-wrapper {
      max-width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .html-embed {
        flex-grow: 1;
      }
    }
  }

  .container {
    text-align: center;
  }

  .audio-slide {
    display: flex;
    height: 100%;
    width: 300px;
    margin: 0 auto;
    justify-content: center;
    align-items: flex-end;
    background: #f2f3f4;
    border-radius: 15px;
  }

  .default-thumbnail {
    height: 290px;
    width: 290px;
  }
}
