.tabs {
  .card-header {
    border: 0;
    padding: 0;

    .card-header-tabs {
      margin: 0;
    }
  }

  .tab-pane {
    &.card-body {
      padding: 1rem;
    }
  }
}

.nav-tabs {
  background: $white;
  border-bottom: 2px solid #e7e7e9;
  padding: 0;

  .nav-item {
    margin-bottom: -2px;
  }

  .nav-link {
    border: 0;
    border-radius: 0;
    color: darkgrey;
    font-size: $font-size-small;
    font-weight: 600;
    line-height: 1;
    padding: 1rem;
    text-decoration: none;
    margin-bottom: 0;

    @at-root .xxl-page & {
      @media (min-width: $bp-4k) {
        font-size: $font-size-small-4k;
        padding: 1.5rem;
      }
    }

    &::before {
      display: none;
    }

    &:hover {
      border: 0;
      border-radius: 0;
      color: $blue;
    }

    &.active {
      border-bottom: 2px solid $blue;
      color: $blue;
    }

    h2 {
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      margin-bottom: inherit;
    }
  }
}
