.lead {
  font-size: $font-size-base;

  @media (min-width: $bp-small) {
    font-size: $font-size-large;
  }

  @at-root .xxl-page & {
    @media (min-width: $bp-4k) {
      font-size: $font-size-large-4k;
    }
  }
}

header .col {
  margin-bottom: 2.75rem;

  *:last-child {
    margin-bottom: 0;
  }
}

.related-container {
  margin-top: 0.625rem;
  margin-bottom: 1.75rem;

  ~ .related-container {
    margin-top: 0;
  }
}

.related-heading {
  color: $mediumgrey;
  font-size: $font-size-small;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 0.75rem;

  @at-root .xxl-page & {
    @media (min-width: $bp-4k) {
      font-size: $font-size-small-4k;
      margin-bottom: calc(1.5 * 0.75rem)
    }
  }
}

.related-subtitle {
  color: $mediumgrey;

  .icon-info-outline {
    position: relative;
    bottom: 2px;
    font-size: 22px;
  }
}

.text-page {

  h1,
  h2,
  h3 {
    line-height: 1.5;
  }

  h2 {
    font-size: $font-size-medium;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  h3 {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .subtitle,
  p.lead {
    color: $mediumgrey;
    font-weight: normal;
    margin-bottom: 0;
    font-size: 1.125rem;
  }

  .subtitle {
    @media (min-width: $bp-small) {
      font-size: $font-size-large;
    }
  }

  p.lead {
    @media (min-width: $bp-small) {
      font-size: $font-size-medium;
    }
  }

  article {
    @media (min-width: $bp-small) {
      font-size: 1.125rem;
    }

    blockquote p {
      font-size: 1.5rem;
    }

    cite p {
      font-size: 0.75rem;
    }
  }

  .authored-section {
    text-align: center;

    .col {
      margin-left: auto;
      margin-right: auto;
      text-align: left;
    }

    .col-lg-9 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    figure {
      display: inline-block;
      margin: 0;
      max-width: 100%;
      width: auto;

      img {
        max-height: 85vh;
        max-width: 100%;
      }

      &.compare-image-wrapper {
        display: inline-block;

        img {
          max-height: 85vh;
        }
      }
    }

    section {
      p {
        margin-bottom: 2rem;
      }

      & + .btn {
        margin-top: 0;
      }
    }

    .html-embed,
    .compare-image-wrapper {
      margin-bottom: 2rem !important;
    }

    .image-wrapper .jumbotron {
      margin-left: 0;
      margin-right: 0;
    }

    .primary-cta-rich-text p:last-child {
      margin-bottom: 1rem;
    }
  }

  iframe {
    max-height: initial;
    max-width: 100%;
  }
}

.info-panel {
  h1 {
    font-size: 1.75rem;
    font-weight: normal;
  }

  header + .description {
    margin-top: 1rem;
  }

  .description .description-text .description-text-paragraph {
    color: $mediumgrey;

    &:last-child {
      margin-bottom: 0 !important;
    }
  }
}

.context-label {
  font-family: $font-family-sans-serif;
  font-size: $font-size-extrasmall;
  text-transform: uppercase;
  font-weight: 600;
  color: $mediumgrey;

  @at-root .xxl-page & {
    @media (min-width: $bp-4k) {
      font-size: $font-size-extrasmall-4k;
    }
  }
}

.secondary-text {
  color: $mediumgrey;
}
