.b-toast.b-toast-solid {
  .brand-toast {
    background: $blue;
    border: 0;
    color: $white;

    &-white {
      background: $white;
      border: 0;
      color: $greyblack;
      box-shadow: 0 4px 6px 0 rgb(0 0 0 / 20%), 5px 5px 10px 0 rgb(0 0 0 / 20%);

      a:not(.btn) {
        color: $blue;
        text-decoration: none;
      }
    }
  }

  .toast-body {
    padding: 1rem;
  }

  .btn {
    text-decoration: none;
  }
}

.b-toaster-bottom-left {
  position: fixed;
  left: 20px;
  bottom: var(--bottom);
  transition: $standard-transition;
}

.modal-open .b-toaster {
  z-index: 1039;
}
