.tooltip.b-tooltip {
  margin-left: 1rem;
  opacity: 1;

  .tooltip-inner {
    font-weight: 400;
    padding: 0.5rem;
    border: 1px solid $bodygrey;

    @media (min-width: $bp-4k) {
      font-size: $font-size-small-4k;
    }

    a {
      color: $white;
      font-weight: 600;
      text-decoration: none;
    }
  }

  .arrow {
    display: none;
  }
}

.btn.tooltip-button {
  display: inline;
  color: $darkgrey-light;
  font-size: $font-size-base;
  background-color: transparent;

  @at-root .xxl-page & {
    @media (min-width: $bp-4k) {
      font-size: $font-size-base-4k;
    }
  }

  &.icon-info-outline {
    font-size: $font-size-medium;
    padding: 0 0.125rem;

    @at-root .xxl-page & {
      @media (min-width: $bp-4k) {
        font-size: $font-size-medium-4k;
        padding: 0 0.1875rem;
      }
    }
  }

  &:hover {
    color: initial;
  }

  &:not(:disabled):not(.disabled) {
    cursor: default;
  }
}
