.fade-enter-active {
  transition: $standard-transition;
  opacity: 0;
}

.fade-enter-to {
  opacity: 1;
}

.fade-leave-active {
  transition: $standard-transition;
  opacity: 1;
}

.fade-leave-to {
  opacity: 0;
}
