.figure-attribution {
  .image-wrapper {
    max-width: 51.25rem;
  }

  figure {
    overflow: hidden;
    margin: 0;
    display: block;
    width: auto;
    height: 100%;
    background: $white;

    &.empty {
      min-width: 100%;
      min-height: $jumbotron-height-min;
    }

    img {
      width: auto;
      object-fit: contain;
    }
  }

  .compare-image-wrapper {
    figcaption {
      cite {
        border-radius: 0;
        border-top-left-radius: $border-radius-small;
        border-top-right-radius: $border-radius-small;
        bottom: 0;
        font-size: 0.625rem;
        left: 1rem;
        margin-right: 1rem;
        padding: 0.5rem 1rem;

        .attribution > span {
          margin-left: 0.25rem;

          .license {
            font-size: $font-size-small;
            margin-top: -0.1rem;
          }
        }
      }
    }
  }

  .jumbotron {
    height: auto;
    background: $white;

    &::before {
      display: none;
    }

    &.hero {
      min-height: initial;

      figure {
        height: 0;
        padding-top: 56.25%;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;

        &::before {
          background: rgb(41 55 69 / 35%);
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          width: 100%;
          z-index: 3;
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          object-fit: cover;
          width: 100%;
        }
      }
    }

    .container {
      max-width: none;
      justify-content: center;
      align-items: center;
    }
  }

  @media (max-width: $bp-large) {
    .hero-wrapper figcaption cite {
      max-width: 17rem;

      .attribution.is-external-link {
        max-width: 12rem;

        > span {
          white-space: normal;
        }
      }
    }
  }
}
