.dropdown {
  .btn-light {
    background: $white;
    color: $mediumgrey;
    font-size: 1rem;
    padding: 0.75rem 1rem;
    text-decoration: none;
  }

  .dropdown-item {
    text-decoration: none;
  }

  &.multilingual-selector .dropdown-menu {
    max-height: 50vh;
    overflow: auto;
  }
}

.b-form-tags.form-control {
  padding: 0;
  margin-bottom: 1.25rem;
  background-color: $white;
  border-radius: 0;

  > ul {
    padding-left: 0;
    margin-bottom: 0.25rem;

    .list-inline-item {
      margin-bottom: 0.5rem;
    }
  }

  .dropdown {
    .dropdown-toggle {
      background: $white;
      font-size: $font-size-small;
      color: $mediumgrey-light;
      height: 3rem;
      border: 1px solid $middlegrey;
      text-align: left;
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 0.375rem;
      text-transform: none;
      font-weight: normal;

      &:focus {
        border: 1px solid $blue;
      }
    }

    &.show {
      .dropdown-toggle {
        border-color: $blue;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  .dropdown-menu {
    width: 100%;
    font-size: $font-size-small;
    max-height: 15rem;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 0;
    border-radius: 0 0 0.375rem 0.375rem;
    box-shadow: $boxshadow-large;
    border: 0;

    .b-dropdown-form {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }

    .form-group > div {
      display: flex;
      align-items: center;
      border-bottom: 1px solid $blue;

      input[type='text'] {
        background: none;
        border-radius: 0;
        font-size: $font-size-small;
        padding-right: 0.5rem;
        padding-left: 0;
        color: $mediumgrey;
      }
    }

    .dropdown-item {
      padding: 0.5rem 0.75rem;
      color: $black;

      &:hover {
        background-color: $bodygrey;
      }

      &:active {
        color: $black;
      }

      span {
        white-space: normal;
      }

      .colour-palette {
        border: 1px solid $whitegrey;
        border-radius: 50%;
        height: 1rem;
        width: 1rem;
        display: inline-block;
      }
    }

    .b-dropdown-text {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
  }
}
