.dropdown {
  .btn-light {
    background: $white;
    color: $mediumgrey;
    font-size: 1rem;
    padding: 0.75rem 1rem;
    text-decoration: none;
  }

  .btn-selected {
    background: $white;
    border-color: $blue;
    color: $mediumgrey;
    padding: 0.75rem 1rem;
  }

  .dropdown-item {
    text-decoration: none;
  }

  &.show {
    .btn-light {
      background: $white;
      border-color: $blue;
    }
  }

  &.multilingual-selector .dropdown-menu {
    max-height: 50vh;
    overflow: auto;
  }

  &.facet-dropdown {
    margin-bottom: 5px;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: $bp-large) {
      width: auto;
      margin-bottom: 0;
    }

    .dropdown-menu {
      font-size: $font-size-small;
      margin-top: 0.5rem;
      width: 100%;

      @media (min-width: $bp-large) {
        min-width: 280px;

        &.show {
          transform: translate3d(0, 3rem, 0) !important;
        }
      }

      .custom-control {
        margin-bottom: 4px;
        min-height: auto;

        label span {
          font-size: $font-size-extrasmall;
        }
      }

      .custom-checkbox-colour {
        .custom-control-label {
          display: inline-flex;
          align-items: center;
          flex: 1;
          flex-wrap: wrap;

          span {
            margin-right: 0.25rem;
          }

          .colour-palette {
            border: 1px solid $whitegrey;
            border-radius: 50%;
            height: 1rem;
            width: 1rem;
            display: inline-block;
          }
        }
      }
    }

    .options-container {
      overflow: auto;
      max-height: 50vh;

      &::-webkit-scrollbar {
        width: 0.25rem;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $grey;
      }
    }
  }

  &.side-facet {
    width: 100%;
    margin-bottom: 1.25rem;

    &:last-child {
      margin-bottom: 1.25rem;
    }

    .btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: $font-size-small;
    }

    .btn-light {
      border: 1px solid $middlegrey;
    }

    .dropdown-toggle-text {
      opacity: 0;
      min-width: 0;
      overflow: hidden;
    }

    .dropdown-toggle {
      min-height: 1.5rem;
    }

    .dropdown-menu {
      min-width: auto;
    }
  }
}
