.page-footer {
  filter: drop-shadow(20px 12px $innovationblue);

  @media (min-width: $bp-xxxl) {
    filter: drop-shadow(1.25vw 0.75vw $innovationblue);
  }

  .footer-wrapper {
    background: $black;
    color: $white;
    position: relative;
    width: calc(100% - 20px);
    margin-bottom: 12px;
    clip-path: polygon(0 0, calc(100% - 95px) 0, 100% 209px, 100% 100%, 0 100%);

    @media (min-width: $bp-xxxl) {
      width: calc(100% - 1.25vw);
      margin-bottom: 0.75vw;
      clip-path: polygon(0 0, calc(100% - calc(95 / 16 * 1vw)) 0, 100% calc(209 / 16 * 1vw), 100% 100%, 0 100%);
    }
  }

  .group-title {
    font-size: $font-size-small;
    color: $paper;
    margin-bottom: 1rem;
  }

  p {
    font-size: $font-size-medium;
  }

  hr {
    border-top-color: $white;
  }

  .sub-footer {
    p {
      font-size: $font-size-smallest;
    }
  }

  .footer-link-list {
    list-style-type: none;

    li {
      .footer-link {
        color: white;
        font-size: $font-size-small;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        &.is-external-link::after {
          content: '\e900';
          color: $white;

          @extend %icon-font;
        }
      }
    }

    &.social-links {
      display: flex;

      li {
        &:not(:last-child) {
          margin-right: 0.5rem;
        }

        .footer-link {
          align-items: center;
          background: $white;
          border-radius: 50%;
          display: flex;
          height: 2.5rem;
          justify-content: center;
          transition: background 0.25s;
          width: 2.5rem;

          &:hover {
            background: rgb(255 255 255 / 75%);
            text-decoration: none;
          }

          &.is-external-link {
            &::after {
              content: '';
            }
          }

          .footer-link-icon {
            color: $black;
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  .dropdown {
    .dropdown-toggle {
      color: $blue;
      padding-left: 1rem;
      padding-right: 1rem;

      &::before {
        content: '\e905';
        margin-right: 0.5rem;

        @extend %icon-font;
      }
    }

    .dropdown-menu {
      max-height: 50vh;
      overflow: auto;
    }
  }
}

.footer-margin {
  height: 7rem;
}
