.is-size-1 {
  font-size: 2.375rem;
}

.is-size-1-5 {
  font-size: 1.5rem; // 1.5rem
}

.is-size-2 {
  font-size: $font-size-medium; // 1.25rem
}

.is-size-3 {
  font-size: $font-size-base; // 1rem
}

.is-size-4 {
  font-size: $font-size-extrasmall; // 0.75rem
}

.is-size-5 {
  font-size: $font-size-smallest // 0.625rem
}

.pt-large {
  padding-top: 4rem;
}

.font-large {
  font-size: $font-size-large;
}

.font-medium {
  font-size: $font-size-medium;
}

.font-base {
  font-size: $font-size-base;
}

.font-small {
  font-size: $font-size-small;
}

.font-extra-small {
  font-size: $font-size-extrasmall;
}

.font-smallest {
  font-size: $font-size-smallest;
}

@media (min-width: $bp-medium) {
  .flex-basis-md-auto {
    flex-basis: auto;
  }
}
