%icon-font {
  /* use !important to prevent issues with browser extensions that change fonts */
  /* stylelint-disable-next-line */
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  vertical-align: middle;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^='icon-'],
[class*=' icon-'] {
  @extend %icon-font;
}

.icon-accept::before {
  content: '\e938';
}

.icon-ic-add::before {
  content: '\e923';
}

.icon-arrow-down::before {
  content: '\e93b';
}

.icon-back::before {
  content: '\ea40';
}

.icon-cancel-circle::before {
  content: '\e934';
}

.icon-caret-down::before {
  content: '\e903';
}

.icon-check-circle::before {
  content: '\e92f';
}

.icon-clear::before {
  content: '\e931';
}

.icon-close::before {
  content: '\e904';
}

.icon-ic-download::before {
  content: '\e924';
}

.icon-edit::before {
  content: '\e94c';
}

.icon-external-link::before {
  content: '\e900';
}

.icon-facebook::before {
  content: '\e901';
}

.icon-ic-feedback::before {
  content: '\e933';
}

.icon-file::before {
  content: '\e94d';
}

.icon-filter::before {
  content: '\e948';
}

.icon-globe::before {
  content: '\e937';
}

.icon-heart::before {
  content: '\e9da';
}

.icon-info::before {
  content: '\e91f';
}

.icon-info-outline::before {
  content: '\e93a';
}

.icon-instagram::before {
  content: '\e909';
}

.icon-language::before {
  content: '\e905';
}

.icon-license::before {
  content: '\e94b';
}

.icon-link::before {
  content: '\e94e';
}

.icon-linkedin::before {
  content: '\eaca';
}

.icon-pinterest::before {
  content: '\e908';
}

.icon-push-pin::before {
  content: '\e936';
}

.icon-reject::before {
  content: '\e939';
}

.icon-search::before {
  content: '\e92b';
}

.icon-share::before {
  content: '\e925';
}

.icon-ic-tag::before {
  content: '\e930';
}

.icon-temporary-tag::before {
  content: '\e93d';
}

.icon-translate::before {
  content: '\e93c';
}

.icon-twitter::before {
  content: '\e902';
}

.icon-3d::before {
  content: '\e953';
}

.icon-sound::before {
  content: '\e94f';
}

.icon-text::before {
  content: '\e952';
}

.icon-image::before {
  content: '\e950';
}

.icon-video::before {
  content: '\e951';
}
