.item-preview-slide {
  .user-buttons {
    .btn {
      align-items: center;
      justify-content: center;
      background-color: $white;
      border: 1px solid $paper;
      color: $mediumgrey;
      display: inline-flex;
      font-size: 1.5rem;
      height: 2.25rem;
      width: 2.25rem;
      line-height: 1;
      padding: 0.375rem;

      &:hover {
        box-shadow: $boxshadow-small;
      }

      &.active {
        color: $white;
        background-color: $red;
        border-color: $red;
      }

      &.recommendation-button {
        &:first-of-type {
          margin-left: auto;
        }

        &:hover {
          color: $innovationblue;
        }
      }

      &:first-of-type {
        margin-right: 0.5rem;

        &.icon-push-pin {
          margin-left: 2rem;

          &.active {
            visibility: visible;
          }

          &:hover {
            color: $innovationblue;
            background: $white;
            border-color: $white;
          }

          +.btn {
            margin-left: auto;
            margin-right: 0.5rem;
          }
        }
      }

      &-sm {
        font-size: $font-size-medium;
      }
    }
  }
}
