.b-toast.b-toast-solid {
  .brand-toast {
    background: $blue;
    border: 0;
    color: $white;
  }

  .toast-body {
    padding: 1rem;
  }
}

.b-toaster-bottom-left-dynamic {
  position: fixed;
  left: 20px;
  bottom: var(--bottom);
  transition: $standard-transition;
}
