.tooltip.b-tooltip {
  margin-left: 1rem;
  opacity: 1;

  .tooltip-inner {
    font-weight: 400;
    padding: 0.625rem;
  }

  .arrow {
    display: none;
  }
}

.btn.tooltip-button {
  display: inline;

  &:hover {
    color: initial;
  }

  &:not(:disabled):not(.disabled) {
    cursor: default;
  }
}
