# Contentful APIs
CTF_SPACE_ID="ABC123"
CTF_ENVIRONMENT_ID="master"
CTF_CDA_ACCESS_TOKEN="ABCDEF123456"

# Contentful GraphQL Content API origin
# CTF_GRAPHQL_ORIGIN='https://graphql.contentful.com'

# CTF_CPA_ACCESS_TOKEN is the contentful preview token. You'll most likely not want to set this
# in a .env file in order to avoid it being accessible to the nuxt client.
# Instead set it as a ENV variable on your machine.
# CTF_CPA_ACCESS_TOKEN="GHIJKLM7891011"

# Base URL of the app, used in SEO links in HTML head
PORTAL_BASE_URL=https://www.europeana.eu

# Europeana APIs
# EUROPEANA_ANNOTATION_API_KEY="YOUR_API_KEY"
# EUROPEANA_RECORD_API_KEY="YOUR_API_KEY"
# EUROPEANA_ENTITY_API_KEY="YOUR_API_KEY"
# EUROPEANA_SET_API_KEY="YOUR_API_KEY"
# EUROPEANA_NEWSPAPER_API_KEY="YOUR_API_KEY"

# HTTP Digest authentication
# NB: on live deployments, do not set in a .env file as it may be leaked to clients.
# HTTP_DIGEST_ACL='[{"username":"user1","password":"password1"},{"username":"user2","password":"password2"}]'
# HTTP_DIGEST_REALM="demo.europeana.eu"

# IP address access restriction
# IP_FILTER_ALLOW="192.168.1.0/24 127.0.0.1"
# IP_FILTER_TRUST_PROXY="10.0.0.0/8"

# The Google Tag Manager ID
# Used by @nuxtjs/google-tag-manager to allow injection of scripts via google tag manager.
# GOOGLE_TAG_MANAGER_ID="GTM-XXXXXXX"

# Used to determine if links are internal paths or not
# INTERNAL_LINK_DOMAIN=.europeana.eu

# Server URL of the Elastic APM server.
# ELASTIC_APM_SERVER_URL=https://apm.example.org:8200

# Environment to report to Elastic APM.
# ELASTIC_APM_ENVIRONMENT=production

# Elastic APM log level
# ELASTIC_APM_LOG_LEVEL=info

# Comma-separated list of dataset IDs to exclude from SSL enforcement for record
# pages belonging to those datasets. No default.
# SSL_DATASET_BLACKLIST=1,14,18

# If enabled, redirection will occur from http:// requests to https://
# equivalents.
# ENABLE_SSL_NEGOTIATION=0

# If enabled, show banners with a link to the Classic Europeana portal.
ENABLE_LINKS_TO_CLASSIC=1

# Enable authentication for User galleries (XX).
# ENABLE_XX_USER_AUTH=0
# Enable display of the login menu link. When logged in, the account menu is always shown.
# ENABLE_LOGIN_LINK=0
# Enable display of the 'Add to Collection' and 'Like' buttons, for the un-authenticated users.
# ENABLE_UNAUTHENTICATED_USER_BUTTONS=0
# Enable recommendations
# ENABLE_RECOMMENDATIONS=0
# Keycloak server
# OAUTH_ORIGIN=https://auth.europeana.eu
# Auth module config options for Keycloak
# OAUTH_REALM=europeana
# OAUTH_CLIENT=collections_portal
# OAUTH_SCOPE=openid,profile,email,usersets
# OAUTH_RESPONSE_TYPE=code
# OAUTH_ACCESS_TYPE=online
# OAUTH_GRANT_TYPE=authorization_code
# OAUTH_TOKEN_TYPE=Bearer
# Credentials for test-user account
# OAUTH_E2E_TEST_USERNAME="username"
# OAUTH_E2E_TEST_PASSWORD="password"

# Used only in automated tests
# TEST_USER_NAME=
# TEST_USER_PASSWORD=
