{
  "all": true,
  "extension": [
    ".js",
    ".vue"
  ],
  "include": [
    "components/**",
    "layouts/**",
    "middleware/**",
    "mixins/**",
    "modules/**",
    "pages/**",
    "plugins/**",
    "server-middleware/**",
    "store/**"
  ],
  "sourceMap": false
}
