@import '@europeana/style/scss/variables';
@import '@europeana/style/scss/tabs';

table {
  thead th {
    font-weight: 600;
    padding: 1.125rem 1rem;
  }

  td {
    padding: 1.125rem 1rem;
    border-top: 1px solid #d8d8d8;
    vertical-align: middle;
  }

  .icon {
    font-size: 2rem;
  }
}

.xxl-page .container {
  max-width: 100%;
}
