.figure-attribution {
  .image-wrapper {
    max-width: 51.25rem;
  }

  figure {
    overflow: hidden;
    margin: 0;
    display: block;
    width: auto;
    height: 100%;
    background: $white;

    &.empty {
      min-width: 100%;
      min-height: $jumbotron-height-min;
    }

    img {
      width: auto;
      object-fit: contain;
    }
  }

  @media (max-width: $bp-large) {
    .hero-wrapper figcaption cite {
      max-width: 17rem;

      .attribution.is-external-link {
        max-width: 12rem;

        > span {
          white-space: normal;
        }
      }
    }
  }
}
