.page-footer {
  position: relative;
  overflow: hidden;

  // This creates a blue shadow with cutout.
  // Drop-shadow does not work on clip-path element and drop-shadow filter is broken in Safari
  &::after {
    content: '';
    position: absolute;
    top: 12px;
    left: 0;
    right: -18px;
    bottom: 0;
    background-color: $innovationblue;
    clip-path: polygon(0 0, calc(100% - 95px) 0, 100% 209px, 100% 100%, 0 100%);

    @media (min-width: $bp-xxxl) {
      top: 0.75vw;
      left: 0;
      right: -1.125vw;
      bottom: 0;
      background-color: $innovationblue;
      clip-path: polygon(0 0, calc(100% - calc(95 / 16 * 1vw)) 0, 100% calc(209 / 16 * 1vw), 100% 100%, 0 100%);
    }
  }

  .footer-wrapper {
    background: $black;
    color: $white;
    position: relative;
    clip-path: polygon(0 0, calc(100% - 95px) 0, 100% 209px, 100% 100%, 0 100%);
    z-index: 2;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @media (min-width: $bp-large) {
      padding-right: 3rem;
    }

    @media (min-width: $bp-xxxl) {
      clip-path: polygon(0 0, calc(100% - calc(95 / 16 * 1vw)) 0, 100% calc(209 / 16 * 1vw), 100% 100%, 0 100%);
      padding-left: 18vw !important;
      padding-right: 18vw !important;
    }
  }

  .container {
    @media (min-width: $bp-xxxl) {
      max-width: none;
    }
  }

  .left-col {
    @media (min-width: $bp-wqhd) {
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
    }
  }

  .middle-col {
    @media (min-width: $bp-wqhd) {
      flex: 0 0 25%;
      max-width: 25%;

      &.order-wqhd-3 {
        order: 3;
      }
    }
  }

  .right-col {
    @media (min-width: $bp-wqhd) {
      flex: 0 0 16.6667%;
      max-width: 16.6667%;
    }
  }

  .group-title {
    font-size: $font-size-small;
    color: $paper;
    margin-bottom: 0.75rem;

    @media (min-width: $bp-wqhd) {
      font-size: 1.125rem;
    }
  }

  p {
    font-size: $font-size-medium;

    @media (min-width: $bp-wqhd) {
      font-size: $font-size-large;
    }
  }

  hr {
    border-top-color: $white;

    @media (min-width: $bp-wqhd) {
      border-top-width: 0.0625vw;
    }
  }

  .sub-footer {
    p {
      font-size: $font-size-smallest;

      @media (min-width: $bp-wqhd) {
        font-size: $font-size-base;
      }
    }
  }

  .footer-link-list {
    list-style-type: none;

    li {
      @media (min-width: $bp-xxxl) {
        font-size: $font-size-base;
      }

      .footer-link {
        color: $white;
        font-size: $font-size-small;
        text-decoration: none;

        @media (min-width: $bp-wqhd) {
          font-size: 1.375rem;
        }

        &:hover {
          text-decoration: underline;
        }

        &.is-external-link::after {
          content: '\e900';
          color: $white;

          @extend %icon-font;
        }
      }
    }

    &.social-links {
      display: flex;

      li {
        &:not(:last-child) {
          margin-right: 0.5rem;

          @media (min-width: $bp-wqhd) {
            margin-right: 0.5em;
          }
        }

        .footer-link {
          align-items: center;
          background: $white;
          border-radius: 50%;
          display: flex;
          height: 2.5rem;
          justify-content: center;
          transition: background 0.25s;
          width: 2.5rem;

          &:hover {
            background: rgb(255 255 255 / 75%);
            text-decoration: none;
          }

          &.is-external-link {
            &::after {
              content: '';
            }
          }

          .footer-link-icon {
            color: $black;
            font-size: 1.5rem;

            &.icon-facebook,
            &.icon-pinterest {
              color: $white;
              font-size: 2.5rem;
              background-color: $black;

              &:hover {
                color: rgb(255 255 255 / 75%);
              }
            }
          }
        }
      }
    }
  }

  .dropdown {
    .dropdown-toggle {
      color: $blue;
      padding-left: 1rem;
      padding-right: 1rem;

      &::before {
        content: '\e905';
        margin-right: 0.5rem;

        @extend %icon-font;
      }
    }

    .dropdown-menu {
      max-height: 50vh;
      overflow: auto;
    }
  }
}

.footer-margin {
  height: 7rem;
}
