.iiif-viewer-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.single-media-container {
  .iiif-viewer-wrapper {
    top: -2.25rem;
  }
}

.iiif-iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 1px solid $lightbluemagenta;
}

::v-deep .mirador-viewer {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .mosaic-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .mosaic-tile {
    margin: 0;
  }

  .mirador-companion-window-header {
    border-bottom: 1px solid $lightbluemagenta;
  }

  .mirador-thumbnail-nav-container {
    border-radius: 1px;
  }

  .mirador-thumbnail-nav-canvas:focus {
    outline: 2px solid $blue !important;
    outline-offset: 0 !important;
  }

  // do not wrap page count
  .mirador-osd-info {
    width: auto;
  }

  .mirador-canvas-nav {
    background-color: rgba(255 255 255 / 95%);
    align-items: center;
  }
}
