.pagination-nav-input {
  .page-link {
    color: $greyblack;
    text-decoration: none;

    &:hover {
      color: $greyblack;
    }
  }

  .btn-next,
  .btn-prev {
    .page-link {
      font-size: $font-size-small;
      line-height: 1.125;
      background: none;
      border: 0;
      padding: 0;

      @media (min-width: $bp-xxxl) {
        font-size: 1vw;
      }
    }
  }

  .page-item {
    font-weight: 600;
    padding: 0.5rem 0.75rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  .btn-prev {
    margin-right: 0.5rem;

    @media (min-width: $bp-medium) {
      margin-right: 1rem;
    }

    .icon-arrow-down::before {
      display: inline-block;
      transform: rotate(90deg);
    }
  }

  .btn-next {
    margin-left: 0.5rem;

    @media (min-width: $bp-medium) {
      margin-left: 1rem;
    }

    .icon-arrow-down::before {
      display: inline-block;
      transform: rotate(270deg);
    }
  }

  .page-input {
    line-height: 1.375;
    padding: 0;

    input {
      padding: 0.75rem;
      width: 3.2rem;
      border-radius: 6px;
      border: 1px solid $middlegrey;
      text-align: center;
      margin-right: 1rem;
      height: auto;
      background: $white;
      line-height: 1.375rem;

      &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
      }

      &[type='number'] {
        appearance: textfield;
      }
    }

    @media (min-width: $bp-xxxl) {
      font-size: 1vw;

      input {
        font-size: inherit;
        width: 3em;
      }
    }
  }
}
