.badge {
  text-decoration: none;
}

.badge-secondary {
  background: $blue;
  font-size: $font-size-smallest;
  font-weight: normal;
  padding: 0.5rem;
}

.badge-pill {
  background-color: $blue;
  font-size: $font-size-small;
  font-weight: 400;
  transition: $standard-transition;
  cursor: pointer;
  &:hover {
    background-color: $darkblue;
  }

  .pill-close {
    color: $white;
    text-decoration: none;
  }
}

.badge-outline-light {
  background-color: $white;
  border: 1px solid $lightbluemagenta;
  color: $mediumgrey;
  display: inline-block;
  font-weight: normal;
  font-size: $font-size-small;
  padding: 0.5rem 0.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 13rem;
}
