.breadcrumb {
  background-color: $white;
  margin-top: -1rem;
  border-top: 1px solid $paper;
  border-bottom: 1px solid $paper;
  .breadcrumb-item {
    font-size: $font-size-small;
  }
  .breadcrumb-item.active, a {
    color: $mediumgrey;
    &:hover {
      color: $mediumgrey;
    }
  }
}
