.content-card {
  background: $white;
  border-radius: $border-radius-small;
  box-shadow: $boxshadow-small;
  color: $black;
  font-size: $font-size-small;
  height: auto;
  line-height: 1.1875rem;
  transition: box-shadow 0.25s;

  &.card {
    margin-bottom: 1.5rem;
  }

  @media (min-width: $bp-medium) {
    min-height: 20rem;
  }

  a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }

  .card-img {
    display: flex;
    flex: 1 1 auto;
    max-height: 10rem;
    min-height: 10rem;
    width: 100%;

    @media (min-width: $bp-medium) {
      max-height: 13rem;
    }

    img {
      border-radius: 4px 4px 0 0;
      object-fit: cover;
      width: 100%;
    }
  }

  .card-body {
    flex: 0;
    padding: 1rem;
    width: 100%;
  }

  .card-title {
    font-size: 1rem;
    font-weight: 600;
  }

  .card-title:last-child {
    margin-bottom: 0;
  }

  .card-text {
    color: $mediumgrey;

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  .card-link {
    min-height: 100%;
    color: $black;
    &:hover {
      color: $black;
    }
  }

  &.entity-card {
    background: transparent;
    border: 0;
    box-shadow: none;
    justify-content: flex-end;
    margin-bottom: 2.5rem;
    margin-left: 0.9rem;

    img {
      border-radius: 4px;
      object-fit: cover;
      position: absolute;
      height: 100%;
      width: 100%;
    }

    a {
      justify-content: flex-end;
    }

    .card-body {
      background: $white;
      border-radius: $border-radius-small;
      box-shadow: $boxshadow-small;
      margin-bottom: -1rem;
      margin-left: -1rem;
      transition: box-shadow 0.25s;
      z-index: 1;
    }

    @media (min-width: $bp-medium) {      
      min-height: auto;
    }
  }

  &.mini-card {
    min-height: auto;
    padding: 1rem;

    a {
      flex-direction: row;
      justify-content: space-between;

      .card-img {
        border-radius: 4px;
        display: block;
        flex: 0 0 auto;
        height: 80px;
        min-height: initial;
        order: 2;
        overflow: hidden;
        position: relative;
        width: 80px;
        
        img {
          height: 80px;
          margin: 0;
          position: absolute;
        }

        &:after {
          content: '';
          display: block;
          padding-bottom: 100%;
          width: 100%;
        }
      }

      .card-title {
        overflow-wrap: break-word;
        word-break: break-word;
      }

      .card-body {
        flex-grow: 1;
        margin-right: 1rem;
        order: 1;
        padding: 0;
        width: 55%;
      }

      .card-text {
        color: $blue;
      }      
    }    
  }

  &:hover {
    box-shadow: $boxshadow-large;
  }

  &.entity-card:hover {
    box-shadow: none;

    .card-body {
      box-shadow: $boxshadow-large;
      background-color: $offwhite;
    }
  }
}

.card-deck-3-cols .card,
.card-deck-4-cols .card {
  flex: 0 0 100%;
}

@media (min-width: $bp-medium) {
  .card-deck-3-cols .card {
    flex: 0 0 calc(100% / 3 - #{$grid-gutter*2});
  }

  .card-deck-4-cols .card {
    flex: 0 0 calc(100% / 2 - #{$grid-gutter*2});
  }
}

@media (min-width: $bp-large) {
  .card-deck-4-cols .card {
    flex: 0 0 calc(100% / 4 - #{$grid-gutter*2});
  }
}

.is-external-link.card-link .card-title:after {
  content: '\e900';
  @extend .icon-font;
}

.masonry {
  display: inline-block;
  columns: 1;
  column-gap: 0;
  width: 100%;

  @media (min-width: $bp-small) {
    columns: 2;
    column-gap: 1rem;
  }

  @media (min-width: $bp-large) {
    columns: 4;
  }

  .content-card {
    break-inside: avoid;
    min-height: initial;
    transform: translateZ(0);
    width: 100%;

    a {
      .card-img {
        min-height: 12rem;
        max-height: initial;
      }
    }
  }
}
