.card-deck-3-cols .card,
.card-deck-4-cols .card {
  flex: 0 0 100%;
}

@media (min-width: $bp-medium) {
  .card-deck-3-cols .card {
    flex: 0 0 calc(100% / 3 - #{$grid-gutter*2});
  }

  .card-deck-4-cols .card {
    flex: 0 0 calc(100% / 4 - #{$grid-gutter*2});
  }
}

.card-deck-search .card {
  .card-link {
    &:visited {
      color: $darkpurple;
    }
  }
}

.is-external-link.card-link .card-title:after {
  content: '\e900';
  @extend .icon-font;
}
