body {
  background-color: $bodygrey;
  color: $textcolor;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
  line-height: 1.375;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.375rem;
}

h2 {
  font-size: 1.875rem;
}

h3, h4 {
  font-size: 1.25rem;
}

h4 {
  font-weight: bold;
}

h5 {
  font-size: 1rem;
}

small {
  font-size: 0.875rem;
  line-height: 1.571;

  &.xs {
    font-size: 0.75rem;
    line-height: 1.833;
  }

  &.xxs {
    font-size: 0.625rem;
    line-height: 2.2;
  }
}

p, ul {
  margin-bottom: 1rem;
}

pre {
  white-space: pre-wrap;
}

a {
  color: $blue;

  &:hover {
    color: $extradarkblue;
  }

  &.skip-main {
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;
  }

  &.skip-main:focus, &.skip-main:active {
    color: #fff;
    background-color: #000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow: auto;
    margin: 10px 35%;
    padding: 5px;
    border-radius: 15px;
    border: 4px solid yellow;
    text-align: center;
    font-size: 1.2em;
    z-index: 999;
  }
}

.page-link {
  color: $black;
  &:hover {
    color: $black;
  }
}

.page-item.active .page-link {
  background-color: $darkblue;
  border-color: $darkblue;
}

.list-group-item-action {
  color: $black;
  &:hover {
    box-shadow: $boxshadow-large;
    color: $black;
    background-color: $lightgrey;
  }
  &:visited{
    color: $darkpurple;
  }
}

.footer {
  padding: 1rem;
  .footer-link-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $darkblue;
    li {
      float: left;
      .footer-link {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        &:hover {
          background-color: $extradarkblue;
        }
      }
    }
  }
}

