$external-icon: '\e900';

@mixin external-icon {
  content: $external-icon;
  font-family: 'icomoon';
  color: $textcolor-coloured;
  margin-left: 2px;
  vertical-align: text-top;
}

.is-external-link {
  // Add external link icon to end paragraph in Card Components
  &.card-link {
    .card-title {
      &:after {
        @include external-icon;
        vertical-align: middle;
      }
    }
  }

  // Add external link icon to main navigation
  &.nav-link {
    &:after {
      @include external-icon;
    }
  }

  // Add external link icon to footer link
  &.footer-link {
    &:after {
      @include external-icon;
      color: $white;
    }
  }
    
}
