footer {

  .footer-link-list {
    list-style-type: none;
    background-color: $darkblue;

    li {
      display: inline-block;

      .footer-link {
        display: block;
        color: white;
        text-align: center;
        padding: 1rem;
        text-decoration: none;

        &:hover {
          background-color: $extradarkblue;
        }

        &.is-external-link::after {
          content: '\e900';
          color: $white;
          @extend .icon-font;
        }
      }
    }
  }
}
