footer {
  background: $midnight;
  color: $white;

  figcaption {
    font-size: $font-size-small;
    color: $paper;
    margin-bottom: 1rem;
  }

  p {
    font-size: $font-size-medium;
  }

  hr {
    border-top-color: $white;
  }

  .sub-footer {
    p {
      font-size: $font-size-smallest;
    }
  }

  .footer-link-list {
    list-style-type: none;

    li {
      .footer-link {
        color: white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        &.is-external-link::after {
          content: '\e900';
          color: $white;
          @extend .icon-font;
        }
      }
    }

    &.social-links {
      display: flex;

      li {
        &:not(:last-child) {
          margin-right: .5rem;
        }

        .footer-link {
          &:hover {
            text-decoration: none;
          }
          &.is-external-link {
            &::after {
              content: '';
            }
          }
        }
      }

      .icon-background {
        width: 2.5rem;
        height: 2.5rem;
        background: $white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          color: $midnight;
          font-size: 1.5rem;
        }
      }
    }
  }

  .dropdown {
    .dropdown-toggle {
      color: $blue;
      padding-left: 1rem;
      padding-right: 1rem;

      &:before {
        content: '\e905';
        margin-right: 0.5rem;
        @extend .icon-font;
      }
    }

    .dropdown-menu {
      max-height: 50vh;
      overflow: auto;
    }

  }
  
}
