footer {
  background: $midnight;
  color: $white;

  figcaption {
    font-size: $font-size-small;
    color: $paper;
    margin-bottom: 1rem;
  }

  p {
    font-size: $font-size-medium;
  }

  hr {
    border-top-color: $white;
  }

  .sub-footer {
    p {
      font-size: $font-size-smallest;
    }
  }

  .footer-link-list {
    list-style-type: none;

    li {
      .footer-link {
        color: white;
        font-size: $font-size-small;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        &.is-external-link::after {
          content: '\e900';
          color: $white;
          @extend .icon-font;
        }
      }
    }
  }

  .dropdown {
    .dropdown-toggle {
      color: $blue;
      padding-left: 1rem;
      padding-right: 1rem;

      &:before {
        content: '\e905';
        margin-right: 0.5rem;
        @extend .icon-font;
      }
    }

    .dropdown-menu {
      max-height: 50vh;
      overflow: auto;
    }

  }
  
}
