.jumbotron {
  background-position: center center;
  background-size: cover;
  height: 50vh;
  min-height: 275px;
  padding: 0;
  position: relative;
  margin-top: -1rem;

  &::before {
    background: rgba(41, 55, 69, 0.35);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    padding: 0;
    position: relative;
    z-index: 2;
  }

  &.browse-jumbotron {
    .container {
      padding-bottom: 3rem;
    }
    &:after {
      border-bottom: 145px solid $bodygrey;
      border-left: 60px solid transparent;
      bottom: 0;
      content: '';
      display: block;
      height: 0;
      position: absolute;
      right: 0;
      width: 0;
      z-index: 3;
    }
  }

  h1,
  .lead {
    text-shadow: $textshadow;
  }

  h1 {
    font-size: 1.5rem;
    letter-spacing: 1.75px;
    line-height: 1.05;
  }

  .lead {
    font-size: $font-size-small;
    line-height: 1.5;
  }

  figcaption cite {
    margin-right: 5rem;

    @media (min-width: $bp-medium) {
      margin-right: 1rem;
    }
  }

  @media (min-width: $bp-large) {
    .container {
      align-items: flex-end;
    }

    h1,
    .lead {
      width: 460px;
    }

    h1 {
      font-size: 2.375rem;
    }

    .lead {
      font-size: 1rem;
    }
  }
}

.figure-attribution {
  .image-wrapper {
    max-width: 51.25rem;
    figure {
      overflow: hidden;
      margin: 0;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    figcaption {
      z-index: 2;
      .icon-info {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        width: 1.5rem;
        height: 1.5rem;
        transition: $standard-transition;
        &:hover {
          opacity: 0.8;
          cursor: pointer;
        }
        &:before {
          content: '\e91f';
          font-size: 1.5rem;
        }
      }
      cite {
        left: initial;
        right: 0.5rem;
        bottom: 0.5rem;
        border-radius: 0.25rem;
        margin: 0;
        padding: 0.75rem;
        font-size: 0.75rem;
        max-width: 75%;
        p {
          color: $mediumgrey;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          margin-bottom: 0.25rem;
          font-size: 0.75rem;
          a {
            text-decoration: none;
          }
        }
        .attribution {
          margin-top: 0.5rem;
          > span {
            margin-left: 0;
          }
        }
      }
    }
  }
  .jumbotron {
    .container {
      max-width: none;
      justify-content: center;
      align-items: center;
    }
  }
  @media (max-width: $bp-large) {
    .hero-wrapper figcaption cite {
      max-width: 17rem;
      .attribution.is-external-link {
        max-width: 12rem;
        > span {
          white-space: normal;
        }
      }
    }
  }
}

.item-hero {
  padding-top: 2.25rem;
  padding-bottom: 1.625rem;
  .media-bar {
    margin-top: 2.5rem;
  }
  .swiper-pagination {
    display: inline-flex;
    &.swiper-pagination-fraction {
      left: auto;
      width: auto;
      bottom: auto;
    }
  }
  .user-buttons {
    display: inline-flex;
    .btn {
      background: $offwhite;
      color: $mediumgrey;
      align-items: center;
      justify-content: center;
      border: 1px solid transparent;
      display: inline-flex;
      font-size: 1.5rem;
      height: 2.25rem;
      min-width: 2.25rem;
      line-height: 1;
      padding: 0.375rem;
      margin-right: 0.5rem;

      &.active {
        color: $white;
        background-color: $red;
        border-color: $red;
      }

      &-sm {
        font-size: $font-size-medium;
      }
    }
    .container {
      padding: 0;
    }
  }
  .rights-wrapper,
  .pagination-wrapper,
  .button-wrapper {
    flex: 1;
  }

  @media (max-width: $bp-medium) {
    .media-bar {
      flex-direction: column;

      a, button {
        text-align: center;
        justify-content: center;
        margin-bottom: 1rem;
        width: 100%;
        margin-left: 0;
      }
      .pagination-wrapper {
        order: 1;
        margin-bottom: 1.125rem;
        .swiper-pagination {
          position: relative;
          margin: auto;
        }
      }
      .rights-wrapper {
        order: 2;
      }
      .button-wrapper {
        order: 3;
        margin-left: 0;
        flex-direction: column;
        .user-buttons {
          justify-content: space-between;
          button:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
