.icon-license-pd {
  background-image: url('~assets/img/cc-icons/pd.svg');
}

.icon-license-zero {
  background-image: url('~assets/img/cc-icons/zero.svg');
}

.icon-license-cc {
  background-image: url('~assets/img/cc-icons/cc.svg');
}

.icon-license-by {
  background-image: url('~assets/img/cc-icons/by.svg');
}

.icon-license-nc {
  background-image: url('~assets/img/cc-icons/nc.svg');
}

.icon-license-nd {
  background-image: url('~assets/img/cc-icons/nd.svg');
}

.icon-license-sa {
  background-image: url('~assets/img/cc-icons/sa.svg');
}

.icon-license-rs-yes {
  background-image: url('~assets/img/cc-icons/rs-yes.svg');
}

.icon-license-rs-no {
  background-image: url('~assets/img/cc-icons/rs-no.svg');
}

.icon-license-rs-unknown {
  background-image: url('~assets/img/cc-icons/rs-unknown.svg');
}

.icon-license-rr {
  background: none;

  &::after {
    content: '\00a9';
  }
}

figcaption {
  background: $white;
  border-top-left-radius: $border-radius-small;
  border-top-right-radius: $border-radius-small;
  bottom: 0;
  font-size: 0.625rem;
  left: 1rem;
  line-height: 1;
  padding: 0.5rem;

  &.is-external-link:after {
    content: '\e900';
    @extend .icon-font;
  }

  .attribution {
    color: $black;

    &:hover {
      color: $blue;
      text-decoration: none;
    }
  }

  .license {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 13px 13px;
    line-height: 2;
    padding-left: 1rem;
    padding-top: 3px;
  }

  .icon-license-rr {
    padding-left: 0.5rem;
  }
}
