.icon-license-pd {
  background-image: url('../../assets/img/cc-icons/pd.svg');
}

.icon-license-zero {
  background-image: url('../../assets/img/cc-icons/zero.svg');
}

.icon-license-cc {
  background-image: url('../../assets/img/cc-icons/cc.svg');
}

.icon-license-by {
  background-image: url('../../assets/img/cc-icons/by.svg');
}

.icon-license-nc {
  background-image: url('../../assets/img/cc-icons/nc.svg');
}

.icon-license-nd {
  background-image: url('../../assets/img/cc-icons/nd.svg');
}

.icon-license-sa {
  background-image: url('../../assets/img/cc-icons/sa.svg');
}

.icon-license-rs-yes {
  background-image: url('../../assets/img/cc-icons/rs-yes.svg');
}

.icon-license-rs-no {
  background-image: url('../../assets/img/cc-icons/rs-no.svg');
}

.icon-license-rs-unknown {
  background-image: url('../../assets/img/cc-icons/rs-unknown.svg');
}

.icon-license-rr {
  background: none;

  &::after {
    content: '\00a9';
  }
}
