.list-group {
  a.list-group-item {
    background: $white;
    border-radius: $border-radius-small;
    box-shadow: $boxshadow-small;
    color: $black;
    font-size: $font-size-extrasmall;
    height: auto;
    line-height: 1.1875rem;
    padding: 0;
    text-decoration: none;
    transition: box-shadow 0.25s;
  
    &:hover {
      box-shadow: $boxshadow-large;
      background-color: $offwhite;
    }
  }

  .media-image {
    width: 100%;
    height: 15rem;
    padding: 1rem;

    @media (min-width: $bp-medium) {
      width: 25%;
    }

    img {
      object-fit: cover;
    }
  }
  
  .media-body > div {
    margin-bottom: 1rem;
  }
}
