.modal {
  .modal-dialog {
    max-width: 560px;
    margin-top: 10rem;
  }
  .modal-content {
    border: none;
    .modal-header {
      border-bottom: none;
      padding: 1.5rem 1.5rem 0 1.5rem;
    }
    .modal-title {
      font-size: 2.125rem;
      font-weight: 600;
    }
    .modal-body {
      padding: 1rem 1.5rem 1.5rem 1.5rem;

      form {
        label {
          font-size: $font-size-small;
          margin-bottom: 0;
        }

        .form-control {
          background: $white;
          border: 1px solid $paper;
          font-size: $font-size-small;
        }

        .form-group:focus-within {
          border-color: $blue;
          color: $blue;
        }
      }
    }
  }

  .modal-footer {
    border: 0;
    justify-content: space-between;
    padding: 1rem 0 0 0;
  }
}

.modal + .modal-backdrop {
  opacity: 0.7;
}
