.lead {
  font-size: 1.5rem;
  line-height: 2.06rem;
}

header .col {
  margin-bottom: 2.75rem;

  *:last-child {
    margin-bottom: 0;
  }
}

.related-heading {
  color: $mediumgrey;
  font-size: $font-size-small;
  font-weight: 600;
  line-height: 1;
}

.text-page {
  background: $white;
  margin-top: -3rem;

  h1 {
    margin-bottom: 0.5rem;
  }

  .subtitle,
  p.lead {
    color: $mediumgrey;
    font-size: $font-size-large;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 0.5rem;
  }

  article {
    font-size: 1.125rem;
    line-height: 1.56;

    blockquote p {
      font-size: 1.5rem;
    }

    cite p {
      font-size: 0.75rem;
      line-height: initial;
    }
  }

  &.figure-attribution {
    .image-wrapper {
      max-width: initial;
      padding: 0;

      .jumbotron {
        margin-top: 0 !important;
      }

      @media (min-width: $bp-medium) {
        .jumbotron {
          margin-left: -1rem;
          margin-right: -1rem;
        }
      }

      @media (min-width: $bp-large) {
        .jumbotron {
          margin-left: -3rem;
          margin-right: -3rem;
        }
      }
    }
  }

  .authored-section {
    text-align: center;

    .col {
      margin-left: auto;
      margin-right: auto;
      text-align: left;
    }
    .col-lg-9 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    figure {
      display: inline-block;
      margin: 0;
      max-width: 100%;

      img {
        max-height: 85vh;
        max-width: 100%;
      }

      &.compare-image-wrapper {
        display: inline-block;
        img {
          max-height: 85vh;
        }
      }
    }
    section {
      p {
        margin-bottom: 2rem;
      }
      & + .btn {
        margin-top: 0;
      }
    }
    .html-embed, .compare-image-wrapper {
      margin-bottom: 2rem !important;
    }
  }

  iframe {
    max-height: initial;
    max-width: 100%;
  }

  @media (min-width: $bp-extralarge) {
    blockquote + p cite {
      width: 38.3rem;
    }
  }
}

.info-panel {
  h1 {
    font-size: 1.75rem;
    font-weight: normal;
  }
  header + .description {
    margin-top: 1rem;
  }
  .description div p {
    color: $mediumgrey;
    &:last-child {
      margin-bottom: 0 !important;
    }
  }
}
