$font-family-sans-serif: "Open Sans", "Arial", sans-serif;

$black: #1a1a1a;
$grey: #777;
$darkblue: #293745;
$lightblue: #1a8ac7;

$textcolor: $black;
$textcolor-light: $grey;
$textcolor-coloured: $lightblue;
