$font-family-sans-serif: "Open Sans", "Arial", sans-serif;

$white: #fff;

$grey: #777;
$extralightgrey: #f9f7f7;
$lightgrey: #f1f1ee;
$bodygrey: #ededed;
$midgrey: #9b9b9b;
$darkgrey: #4d4d4d;
$black: #1a1a1a;

$blue: #095f90;
$darkblue: #293745;
$lightblue: #1a8ac7;
$extradarkblue: #053048;

$textcolor: $black;
$textcolor-light: $grey;
$textcolor-coloured: $lightblue;

$boxshadow: 0 2px 4px 0 rgba(0,0,0,0.5);
$boxshadow-small: 0 1px 3px 0 rgba(0,0,0,0.25);

$border-radius: 0.375rem;
$border-radius-small: 0.25rem;

$font-size-extrasmall: 0.75rem;
$font-size-small: 0.875rem;