module.exports = {
  // Add origin-specific configurations below
  // 'https://portaljs1.example.org': {
  //   record: {
  //     origin: 'https://record-api-other1.example.org',
  //     path: '/api/v2',
  //     key: 'portaljs1-record-key'
  //   },
  //   entity: {
  //     origin: 'https://entity-api-other1.example.org',
  //     path: '/entity',
  //     key: 'portaljs1-entity-key'
  //   }
  // },
  // 'https://portaljs2.example.org': {
  //   record: {
  //     origin: 'https://record-api-other2.example.org',
  //     path: '/record',
  //     key: 'portaljs2-record-key'
  //   }
  // }
};
