# Recommended environment variables for running the Docker Compose stack.
#
# Copy to .env in the same directory, and populate.

EUROPEANA_API_KEY=
EUROPEANA_RECORD_API_KEY=

CTF_SPACE_ID=
CTF_ENVIRONMENT_ID=
CTF_GRAPHQL_ORIGIN=
CTF_CDA_ACCESS_TOKEN=
