name: Lokalise

on: workflow_dispatch

jobs:
  create-pull-request:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10
          run_install: false
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'pnpm'
      -
        name: Install Node packages
        run: |
          pnpm install \
            dotenv@$(pnpm list --json dotenv | jq -Mr .[0].unsavedDependencies.dotenv.version) \
            @lokalise/node-api@$(pnpm list --json @lokalise/node-api | jq -Mr ".[0].unsavedDependencies.[\"@lokalise/node-api\"].version")
      -
        name: Update lang files
        env:
          LOKALISE_API_TOKEN: ${{ secrets.LOKALISE_API_TOKEN }}
          LOKALISE_PROJECT_ID: ${{ secrets.LOKALISE_PROJECT_ID }}
        run: pnpm run --filter @europeana/portal lokalise
      -
        name: Set pull request branch name
        run: echo "PR_BRANCH=l10n/$(date +%Y-%m-%d_%H-%M-%S)" >> $GITHUB_ENV
      -
        name: Create pull request
        id: cpr
        uses: peter-evans/create-pull-request@v4
        with:
          branch: ${{ env.PR_BRANCH }}
          commit-message: "l10n: update translations"
          title: "l10n: update translations"
          body: "Automated translation updates by [Lokalise workflow](https://github.com/europeana/portal.js/blob/master/.github/workflows/lokalise.yml)."
          token: "${{ secrets.GIT_PAT }}"
      -
        name: Annotate with pull request URL
        run: echo "::notice ::Pull request URL - ${{ steps.cpr.outputs.pull-request-url }}"
